@import url("https://fonts.googleapis.com/css2?family=Klee+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");
/* CSS Reset */
body, header, nav, section, div, article, ul, li, h1, h2, h3, h4, p, a, footer, form, label, input, textarea, button, img, dd, dt, dl {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 100%;
  text-decoration: none;
  font-weight: normal;
  color: inherit;
  border: none;
  outline: none;
  box-sizing: border-box; }

/*Default text to 10px*/
html {
  font-size: 62.5%; }

/*Mixins, Placeholders, and Variables*/
main {
  max-width: 120rem;
  margin: 0 auto; }

#newtask, .tasklist {
  border: 0.3rem solid #525252;
  padding: 1rem;
  margin: 2rem; }

#newtask .titleWrapper input, #newtask .descWrapper input, #newtask .dateWrapper input, .tasklist ul .task__title {
  font-family: 'Noto Serif', serif; }

#newtask .titleWrapper textarea, #newtask .descWrapper textarea, #newtask .dateWrapper textarea, .tasklist ul .task__desc, .tasklist ul .task__date {
  font-family: 'Klee One', cursive; }

#newtask h2, .tasklist__title {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center; }

.error {
  border: 0.3rem solid red; }

@keyframes darkglow {
  0% {
    background: transparent; }
  100% {
    background: #393939; } }

@keyframes lightglow {
  0% {
    background: transparent; }
  100% {
    background: #d8d8d8; } }

.dark {
  background: linear-gradient(180deg, #222222 0%, rgba(0, 0, 0, 0.75) 100%);
  color: white; }
  .dark .tasklist {
    color: black;
    background: #4b4b4b; }
  .dark .tasklist__title {
    color: white; }
  .dark .task {
    background: #dddddd; }
  .dark header {
    background: #222222;
    color: white; }
  .dark #changetheme {
    display: block;
    margin: 0 0.3em 0.3em 0;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
    padding: 1rem 0.5rem;
    border: 0.2rem solid #6c6c6c;
    background: transparent;
    font-size: 1.6rem;
    border-radius: 2em;
    transition: background 0.5s ease-in-out;
    animation: darkglow 2s ease-in-out infinite alternate-reverse;
    color: white;
    margin-top: 20px; }
    .dark #changetheme:hover {
      animation: none;
      background: #393939;
      cursor: pointer; }
  .dark .addbtn {
    color: white; }
  .dark .delbtn {
    color: white; }

.light {
  background: linear-gradient(180deg, #b3b3b3 0%, rgba(255, 255, 255, 0.75) 100%);
  color: black; }
  .light .tasklist {
    color: black;
    background: #dadada; }
  .light .tasklist__title {
    color: black; }
  .light .task {
    background: #969696; }
  .light header {
    background: #aaaaaa;
    color: black; }
  .light #changetheme {
    display: block;
    margin: 0 0.3em 0.3em 0;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
    padding: 1rem 0.5rem;
    border: 0.2rem solid white;
    background: transparent;
    font-size: 1.6rem;
    border-radius: 2em;
    transition: background 0.5s ease-in-out;
    animation: lightglow 2s ease-in-out infinite alternate-reverse;
    color: black;
    margin-top: 20px; }
    .light #changetheme:hover {
      animation: none;
      background: #d8d8d8;
      cursor: pointer; }
  .light .addbtn {
    color: black; }
  .light .delbtn {
    color: black; }

body {
  min-height: 100vh;
  font: 1.5rem/1.4 'Open Sans', Helvetica, Arial, sans-serif; }

#newtask {
  color: black;
  text-align: center;
  background: #4d544d; }
  #newtask h2 {
    color: white;
    width: 100%; }
  #newtask .titleWrapper, #newtask .descWrapper, #newtask .dateWrapper {
    width: 100%;
    font-size: 2rem;
    margin: 1rem 0 1rem 0;
    color: white;
    text-align: left; }
    #newtask .titleWrapper input, #newtask .descWrapper input, #newtask .dateWrapper input {
      padding-left: 0.5rem;
      width: 100%;
      height: 3rem;
      font-size: 2.5rem;
      color: black; }
    #newtask .titleWrapper textarea, #newtask .descWrapper textarea, #newtask .dateWrapper textarea {
      color: black;
      width: 100%; }
  #newtask .buttons {
    width: 100%;
    text-align: center;
    display: inline; }
  #newtask__titleerror, #newtask__descerror, #newtask__dateerror {
    color: #ff8e8e; }
  #newtask__cancel {
    display: block;
    margin: 0 0.3em 0.3em 0;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
    padding: 1rem 0.5rem;
    border: 0.2rem solid #ea9e9e;
    background: transparent;
    font-size: 1.6rem;
    border-radius: 2em;
    transition: background 0.5s ease-in-out;
    display: inline-block;
    margin-right: 0.5rem;
    padding: 1rem 3rem 1rem 3rem;
    color: white; }
    #newtask__cancel:hover {
      animation: none;
      background: #d84a4a;
      cursor: pointer; }
  #newtask__submit {
    display: block;
    margin: 0 0.3em 0.3em 0;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
    padding: 1rem 0.5rem;
    border: 0.2rem solid #89c889;
    background: transparent;
    font-size: 1.6rem;
    border-radius: 2em;
    transition: background 0.5s ease-in-out;
    display: inline-block;
    margin-right: 0.5rem;
    padding: 1rem 3rem 1rem 3rem;
    color: white; }
    #newtask__submit:hover {
      animation: none;
      background: #4ba04b;
      cursor: pointer; }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: black;
  /* Fallback color */
  background: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

.modal-content {
  background: #5f6660;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; }

header {
  margin: 0 auto;
  background: #222222;
  text-align: center;
  padding: 2rem;
  color: white;
  font-size: 5rem;
  font-weight: 800;
  border: 0.3rem solid #525252;
  margin-bottom: 2rem; }
  header h1 {
    margin-bottom: -1.5rem; }

@media (min-width: 1080px) {
  #kanban {
    display: flex;
    flex-flow: row wrap;
    justify-content: center; } }

@media (min-width: 1080px) {
  .tasklist {
    width: calc(100%/3 - 4rem); } }

.tasklist__title {
  border-bottom: 0.1rem solid darkgray; }

.tasklist ul {
  margin-top: 1.5rem;
  font-size: 2rem; }
  .tasklist ul .task {
    padding: 2rem;
    margin-bottom: 1rem; }
    .tasklist ul .task__title {
      border-bottom: 0.1rem dotted #777777;
      margin-bottom: 1rem;
      color: black; }
    .tasklist ul .task__desc {
      color: #242424;
      font-size: 1.6rem; }
    .tasklist ul .task__date {
      color: #242424;
      font-size: 1.6rem;
      text-align: right;
      margin-top: 0.6rem;
      border-top: 0.2rem solid #242424; }

.addbtn {
  display: block;
  margin: 0 0.3em 0.3em 0;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
  padding: 1rem 0.5rem;
  border: 0.2rem solid #9eff0e;
  background: transparent;
  font-size: 1.6rem;
  border-radius: 2em;
  transition: background 0.5s ease-in-out; }
  .addbtn:hover {
    animation: none;
    background: #64a700;
    cursor: pointer; }
